<div class="information">
  <div class="container">
    <div class="infor-top">
      <div class="col-md-3 infor-left">
        <h3>Ссылки на аккаунты</h3>
        <ul>
          <li><a href="mailto:konevo228@gmail.com"><span class="google"></span><h6>Google+</h6></a></li>
          <li><a href="https://vk.com/uxzeec"><span class="facebook"></span><h6>VK</h6></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--information-end-->
<!--footer-starts-->


<!-- Modal -->
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Корзина</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Продолжить покупки</button>
        <a href="cart/index" type="button" class="btn btn-primary">Оформить заказ</a>
        <button type="button" class="btn btn-danger" onclick="clearCart()">Очистить корзину</button>
      </div>
    </div>
  </div>
</div>