<div class="top-header">
  <div class="container">
    <div class="top-header-main">
      <div class="col-md-6 top-header-left">
        <div class="drop">
          <div class="btn-group">
            <a class="dropdown-toggle" data-toggle="dropdown"><img src="/assets/avatar.svg" width="24" height="24" alt="" /><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% if user_signed_in? %>
                <% if current_user.try(:admin?) %>
                  <li>
                    <%= link_to 'administrator', '#', style: "color: red" %>
                  </li>
                  <li>
                    <%= link_to 'API', '/oauth/applications', style: "color: blue" %>
                  </li>
                <% end %>
                <li>
                  <a href="#">
                    Добро пожаловать, <%= current_user.email %>
                  </a>
                </li>
                <li>
                  <%= link_to 'Выход', destroy_user_session_path, method: :delete %>
                </li>
                <li>
                <%= link_to 'Мой личный кабинет', edit_user_registration_path%>
                </li>
              <% else %>
                <li>
                  <%= link_to 'Вход', new_user_session_path %>
                </li>
                <li>
                  <%= link_to 'Регистрация', new_user_registration_path %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-md-6 top-header-left">
        <div class="cart box_1">

          <a href="/cart" onclick="getCart(); return false;">
            <div class="total">
              <%= image_tag('cart-1.png', alt: "") %>
              <% if cart_items.any? %>
                <span class="simpleCart_total">
                  <%= format("%.2f", cart_total ) %> $
                </span>
              <% else %>
                <span class="simpleCart_total">Корзина</span>
              <% end %>

            </div>
          </a>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>