<!--start-breadcrumbs-->
<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li><%= link_to(render_breadcrumbs, root_path) %></li>
        <li><%=@category.title %></li>
      </ol>
    </div>
  </div>
</div>
<!--end-breadcrumbs-->
<!--prdt-starts-->
<div class="prdt">
  <div class="container">
    <div class="prdt-top">
      <div class="col-md-9 prdt-left">
        <% if !@category.products.empty? %>
          <div class="product-one">
            <% @category.products.each do |product| %>
              <div class="col-md-4 product-left p-left">
                <div class="product-main simpleCart_shelfItem">
                  <%= link_to(image_tag(product.img, alt: "", class: "img-responsive zoom-img"), product, class: "mask") %>
                  <div class="product-bottom">
                    <h3><%= product.title  %></h3>
                    <p>Подробнее</p>
                    <h4>
                      <a data-id="<%=product.id %>" class="add-to-cart-link" href="cart/add?id=<%=product.id %>"><i></i></a>
                      <span class=" item_price"><%=product.price %></span>
                      <% if product.old_price %>
                        <small><del><%= product.old_price %></del></small>
                      <% end %>
                    </h4>
                  </div>
                  <div class="srch srch1">
                    <span>-50%</span>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="clearfix"></div>
          </div>
        <% else %>
          <h3>В данной категории товаров отсутсвуют товары.</h3>
        <% end %>
      </div>
      <div class="col-md-3 prdt-right">
        <div class="w_sidebar">
          <section  class="sky-form">
            <h4>Категории</h4>
            <div class="row1 scroll-pane">
              <div class="col col-4">
                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Все часы</label>
              </div>
              <div class="col col-4">
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Женские часы</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Детские часы</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Мужские часы</label>
              </div>
            </div>
          </section>
          <section  class="sky-form">
            <h4>Бренды</h4>
            <div class="row1 row2 scroll-pane">
              <div class="col col-4">
                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Casio</label>
              </div>
              <div class="col col-4">
              <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Timex</label>
              <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Q&Q</label>
              <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Aerowatch</label>
              <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Orient</label>
              <label class="checkbox"><input type="checkbox" name="checkbox" ><i></i>Bulova</label>
              <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Pierre Lannier</label>
              <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Earnshaw</label>
              <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Diesel</label>
              <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Citizen</label>
              <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Yepme</label>
              </div>
            </div>
          </section>
          <section class="sky-form">
            <h4>Скидки</h4>
            <div class="row1 row2 scroll-pane">
              <div class="col col-4">
              <label class="radio"><input type="radio" name="radio" checked=""><i></i>60 % и выше</label>
              <label class="radio"><input type="radio" name="radio"><i></i>50 % и выше</label>
              <label class="radio"><input type="radio" name="radio"><i></i>40 % и выше</label>
              <div class="col col-4">
              <label class="radio"><input type="radio" name="radio"><i></i>30 % и выше</label>
              <label class="radio"><input type="radio" name="radio"><i></i>20 % и выше</label>
              <label class="radio"><input type="radio" name="radio"><i></i>10 % и выше</label>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--product-end-->