<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li>Личный кабинет</li>
      </ol>
    </div>
  </div>
</div>

<div class="prdt">
  <div class="container">
    <div class="prdt-top">
      <div class="col-md-12">
        <div class="product-one signup">
          <div class="register-top heading">
            <h2>Личный кабинет</h2>
          </div>

          <div class="register-main">
            <div class="col-md-6 account-left">

              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= f.error_notification %>

                <div class="form-group has-feedback">
                  <%= f.input :email, required: true, autofocus: true, input_html: {class: "form-control"}%>
                </div>
                <div class="form-group has-feedback">
                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <p>В настоящее время ожидает подтверждения: <%= resource.unconfirmed_email %></p>
                  <% end %>
                </div>
                <div class="form-group has-feedback">
                  <%= f.input :password,
                              hint: "Оставьте это поле пустым, если вы не хотите, чтобы изменить его",
                              required: false,
                              input_html: { autocomplete: "new-password", class: "form-control" }
                  %>
                </div>
                <div class="form-group has-feedback">
                  <%= f.input :password_confirmation,
                              required: false,
                              input_html: { autocomplete: "new-password", class: "form-control" }
                  %>
                </div>
                <div class="form-group has-feedback">
                  <%= f.input :current_password,
                              hint: "Нам нужен ваш текущий пароль, чтобы подтвердить ваши изменения",
                              required: true,
                              input_html: { autocomplete: "current-password", class: "form-control" }
                  %>
                </div>

                <div class="form-actions">
                  <%= f.button :submit, "Сохранить", class: "btn btn-default" %>
                </div>
              <% end %>
              <p><%= link_to "Закрыть аккаунт?", registration_path(resource_name),
                                      data: { confirm: "Вы уверены?" }, method: :delete %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>