<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li>Регистрация</li>
      </ol>
    </div>
  </div>
</div>

<div class="prdt">
  <div class="container">
    <div class="prdt-top">
      <div class="col-md-12">
        <div class="product-one signup">
          <div class="register-top heading">
            <h2>Регистрация</h2>
          </div>

          <div class="register-main">
            <div class="col-md-6 account-left">

              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= f.error_notification %>
                <div class="form-group has-feedback">
                  <%= f.input :email,
                              required: true,
                              autofocus: true,
                              input_html: {autocomplete: "email", class: "form-control", placeholder: "........."}
                  %>
                </div>
                <div class="form-group has-feedback">
                  <%= f.input :password,
                              required: true,
                              hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                              input_html: {autocomplete: "new-password", class: "form-control", placeholder: "........."}
                  %>
                </div>
                <div class="form-group has-feedback">
                  <%= f.input :password_confirmation,
                              required: true,
                              input_html: {autocomplete: "new-password", class: "form-control", placeholder: "........."}
                  %>
                </div>


                <%= f.button :submit, "Применить", class: "btn btn-default" %>

              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--product-end-->