<!--start-breadcrumbs-->
<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li><a href="/"><%= render_breadcrumbs %></a></li>
        <li class="active"><%= @product.title %></li>
      </ol>
    </div>
  </div>
</div>
<!--end-breadcrumbs-->
<!--start-single-->
<div class="single contact">
  <div class="container">
    <div class="single-main">
      <div class="col-md-9 single-main-left">
        <div class="sngl-top">
          <div class="col-md-5 single-top-left">

            <% unless @product.galleries == [] %>
              <!-- FlexSlider -->
              <div class="flexslider">
                <ul class="slides">
                  <% @product.galleries.each do |item| %>
                    <li data-thumb="<%= asset_path item['img'] %>">
                      <div class="thumb-image">

                        <img src="<%= asset_path item['img'] %>" data-imagezoom="true"
                             class="img-responsive" alt=""/>

                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
              <!-- FlexSlider -->
            <% else %>

              <div class="flexslider">
                <ul class="slides">
                  <li data-thumb="<%= asset_path 's-1.jpg' %>">
                    <div class="thumb-image"> <img src="<%= asset_path 's-1.jpg' %>" data-imagezoom="true" class="img-responsive" alt=""/> </div>
                  </li>
                  <li data-thumb="<%= asset_path 's-2.jpg' %>">
                    <div class="thumb-image"> <img src="<%= asset_path 's-2.jpg' %>" data-imagezoom="true" class="img-responsive" alt=""/> </div>
                  </li>
                  <li data-thumb="<%= asset_path 's-3.jpg' %>">
                    <div class="thumb-image"> <img src="<%= asset_path 's-3.jpg' %>" data-imagezoom="true" class="img-responsive" alt=""/> </div>
                  </li>
                </ul>
              </div>

            <% end %>


          </div>
          <div class="col-md-7 single-top-right">
            <div class="single-para simpleCart_shelfItem">
              <h2><%= @product.title %></h2>
              <div class="star-on">
                <ul class="star-footer">
                  <li><a href="#"><i> </i></a></li>
                  <li><a href="#"><i> </i></a></li>
                  <li><a href="#"><i> </i></a></li>
                  <li><a href="#"><i> </i></a></li>
                  <li><a href="#"><i> </i></a></li>
                </ul>
                <div class="clearfix"> </div>
              </div>

              <h5 class="item_price">$ <%= @product.price %> </h5>
              <% if @product.old_price %>
                <del><%= @product.old_price %></del>
              <% end %>
              <p><%= @product.content %></p>
              <div class="available">
                <ul>
                  <li class="size-in">Размер<select>
                    <option>Большие</option>
                    <option>Средние</option>
                    <option>Маленькие</option>
                  </select></li>
                  <div class="clearfix"> </div>
                </ul>
              </div>
              <ul class="tag-men">
                <li><span>Категория:</span>
                  <strong>
                  </strong>
                </li>
              </ul>
              <div class="quantity">
                <input type="number" size="4" value="1" name="quantity" min="1" step="1">

              </div>

              <%=
                link_to 'Добавить в корзину',
                        cart_items_path,
                        remote: true,
                        data:      { method: :post , id: @product.id },
                        class:    "add-cart item_add add-to-cart-link",
                        id:       "productAdd"
              %>

            </div>
          </div>
          <div class="clearfix"> </div>
        </div>


        <% unless @product.related.nil? %>

          <div class="latestproducts">
            <div class="product-one">
              <h3>Сопутствующие товары</h3>
              <% @product.related.each do |related| %>
                <div class="col-md-4 product-left p-left">
                  <div class="product-main simpleCart_shelfItem">
                    <a href="<%=related.id %>" class="mask">
                      <img class="img-responsive zoom-img" src="<%= asset_path related.img %>" alt="" />
                    </a>
                    <div class="product-bottom">
                      <h3><a href="<%= related.id %>"><%= related.title %></a></h3>
                      <p>Подробнее</p>
                      <h4>
                        <a class="item_add add-to-cart-link" href="cart/add?id=<%=related.id %>" data-id="<%=related.id %>"><i></i>
                        </a>
                        <span class=" item_price">$ <%= related.price %></span>
                        <% if related.old_price %>
                          <del><%= related.old_price %></del>
                        <% end %>
                      </h4>
                    </div>
                    <div class="srch">
                      <span>-50%</span>
                    </div>
                  </div>
                </div>

              <% end %>

              <div class="clearfix"></div>
            </div>
          </div>

        <% end %>

        <% if recent_products.any? %>

          <div class="latestproducts">
            <div class="product-one">
              <h3>Просмотренные товары</h3>

              <% recent_products.each do |recently| %>

                <div class="col-md-4 product-left p-left">
                  <div class="product-main simpleCart_shelfItem">
                    <a href="<%=recently.id %>" class="mask">
                      <img class="img-responsive zoom-img" src="<%= asset_path recently.img %>" alt="" />
                    </a>
                    <div class="product-bottom">
                      <h3><a href="<%=recently.id %>"><%= recently.title %></a></h3>
                      <p>Подробнее</p>
                      <h4>
                        <a class="item_add add-to-cart-link" href="cart/add?id=<%=recently.id %>" data-id="<%=recently.id %>"><i></i>
                        </a>
                        <span class=" item_price">$ <%= recently.price %></span>
                        <% if recently.old_price %>
                          <del><%= recently.old_price %></del>
                        <% end %>
                      </h4>
                    </div>
                    <div class="srch">
                      <span>-50%</span>
                    </div>
                  </div>
                </div>

              <% end %>

              <div class="clearfix"></div>
            </div>
          </div>

        <% end %>

      </div>

      <div class="col-md-3 single-right">
        <div class="w_sidebar">
          <section  class="sky-form">
            <h4>Категории</h4>
            <div class="row1 scroll-pane">
              <div class="col col-4">
                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Все часы</label>
              </div>
              <div class="col col-4">
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Женские часы</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Детские часы</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Мужские часы</label>
              </div>
            </div>
          </section>
          <section  class="sky-form">
            <h4>Бренды</h4>
            <div class="row1 row2 scroll-pane">
              <div class="col col-4">
                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Casio</label>
              </div>
              <div class="col col-4">
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Timex</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Q&Q</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Aerowatch</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Orient</label>
                <label class="checkbox"><input type="checkbox" name="checkbox" ><i></i>Bulova</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Pierre Lannier</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Earnshaw</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Diesel</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Citizen</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Yepme</label>
              </div>
            </div>
          </section>
          <section class="sky-form">
            <h4>Скидки</h4>
            <div class="row1 row2 scroll-pane">
              <div class="col col-4">
                <label class="radio"><input type="radio" name="radio" checked=""><i></i>60 % и выше</label>
                <label class="radio"><input type="radio" name="radio"><i></i>50 % и выше</label>
                <label class="radio"><input type="radio" name="radio"><i></i>40 % и выше</label>
              </div>
              <div class="col col-4">
                <label class="radio"><input type="radio" name="radio"><i></i>30 % и выше</label>
                <label class="radio"><input type="radio" name="radio"><i></i>20 % и выше</label>
                <label class="radio"><input type="radio" name="radio"><i></i>10 % и выше</label>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--end-single-->
<input type="hidden" value="<%= !current_user.nil? ? 88 : 99 %>" id="cart_access" />