<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li>Вход</li>
      </ol>
    </div>
  </div>
</div>

<div class="prdt">
  <div class="container">
    <div class="prdt-top">
      <div class="col-md-12">
        <div class="product-one login">
          <div class="register-top heading">
            <h2>Вход</h2>
          </div>
          <div class="register-main">
            <div class="col-md-6 account-left">

              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class='form-group has-feedback'>
                  <%= f.input :email,
                              required: false,
                              autofocus: true,
                              input_html: {autocomplete: "email", class: "form-control", placeholder: "........."}
                  %>
                  <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
                <div class="form-group has-feedback">
                  <%= f.input :password,
                              required: false,
                              input_html: {autocomplete: "current-password", class: "form-control", placeholder: "........."}
                  %>
                  <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
                <div class="form-group has-feedback">
                  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                </div>
                <div class="form-group has-feedback">
                  <div class="form-actions">
                    <%= f.button :submit, "Войти", class: "btn btn-default" %>
                  </div>
                </div>
              <% end %>

              <%= render "devise/shared/links" %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>