<% unless current_user.nil? %>
  <% if !products.empty? %>
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
        <tr>
          <th>Фото</th>
          <th>Наименование</th>
          <th>Количество</th>
          <th>Цена</th>
          <th><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></th>
        </tr>
        </thead>
        <tbody>
        <% qty = [] %>
        <% sum = [] %>
        <% products.map do |item| %>
          <tr>
            <td>
              <% if item.product.img.nil? %>
                <%= link_to(item.product.title, item.product) %>
              <% else %>
                <%= link_to(image_tag(item.product.img), item.product) %>
              <% end %>
            </td>
            <td><%= link_to(item.product.title, item.product) %></td>
            <td>
              <% qty << item.quantity %><%= item.quantity %>шт.
            </td>
            <% pr = item.quantity * item.product.price %>
            <% sum << pr %>
            <td><%= item.product.price %> </td>
            <td>
              <span data-id="<%= item.product_id %>" class="glyphicon glyphicon-remove text-danger del-item" aria-hidden="true"></span>
            </td>
          </tr>
        <% end %>
        <tr>
          <td>Итого:</td>
          <td colspan="4" class="text-right cart-qty"><%= qty.sum %> шт.</td>
        </tr>
        <tr>
          <td>На сумму:</td>
          <td colspan="4" class="text-right cart-sum"><%= format("%.2f", sum.sum) %> $</td>
        </tr>

        </tbody>
      </table>
    </div>
  <% else %>
    <h4>Корзина пустая.</h4>
  <% end %>
<% else %>
  <span> Пожалуйста, войдите в систему, чтобы просмотреть корзину. </span>
  <script>$('#cart .modal-footer a, #cart .modal-footer .btn-danger').css('display', 'none');</script>
<% end %>