<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new form from <%= @form.name %>!</p>
    <p>
    form details<br>
    --------------------------
    </p>
    <p>Name: <%= @form.name %></p>
    <p>Email: <%= @form.email %></p>
    <p>Phone: <%= @form.phone %></p>
    <p>
    Message:<br>
    ----------
    </p>
    <p><%= @form.message %></p>
  </body>
</html>