You got a new form from <%= @form.name %>!
===============================================

form Details:
--------------------------

Name: <%= @form.name %>
Email: <%= @form.email %>
Phone: <%= @form.phone %>

Message:
<%= @form.message %>