<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if admin_signed_in? %>
    <p>Здравствуйте, <%= current_admin.email %></p>
    <%= link_to 'Выйти', destroy_admin_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Войти', new_admin_session_path %> или <%= link_to 'Зарегистрироваться', new_admin_registration_path %>
<% end %>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.email %></td>
        <td><%= post.phone %></td>
        <td><%= post.message %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>