<p>Здравствуйте <%= @email %>!</p>

<p>Вы можете подтвердить свою учетную запись электронной почты по ссылке ниже:</p>

<p><%= link_to 'Подтвердите свою учетную запись', confirmation_url(@resource, confirmation_token: @token) %></p>
