<p>Здравствуйте <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Мы говорим с вами, чтобы уведомить вас о том, что ваша электронная почта <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Мы говорим с вами, чтобы уведомить вас, что ваша электронная почта была изменена  <%= @resource.email %>.</p>
<% end %>
