<p>Здравствуйте <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку, чтобы изменить пароль. Вы можете сделать это по ссылке ниже..</p>

<p><%= link_to 'Изменение пароля', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не просили об этом, пожалуйста, игнорируйте это письмо.</p>
<p>Пароль не изменится, пока вы не получите доступ к ссылке выше и создать новый.</p>
