<p>Здравствуйте <%= @resource.email %>!</p>

<p>Ваша учетная запись была заблокирована из-за чрезмерного количества неудачных попыток.</p>

<p>Нажмите на ссылку ниже, чтобы разблокировать учетную запись:</p>

<p><%= link_to 'Разблокировать учетную запись', unlock_url(@resource, unlock_token: @token) %></p>
