<!DOCTYPE html>
<html lang="en">
  <head>
    <%= display_meta_tags title: @page_title, description: @page_description, keywords: @page_keywords %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'bootstrap',  media: 'all' %>
    <%= stylesheet_link_tag 'flexslider', media: 'all' %>
    <%= stylesheet_link_tag 'memenu',     media: 'all' %>
    <%= stylesheet_link_tag 'style',      media: 'all' %>
    <%= stylesheet_link_tag 'mystyle',    media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>

  <!--top-header-->
  <%= render 'include/main/top_header' %>
  <!--top-header-->

  <!-- notifications -->
  <%= render 'include/main/notifications' %>
  <!-- notifications -->

  <!--start-logo-->
  <div class="logo">
    <%= link_to root_path do %>
      <h1>Boch Watch</h1>
    <% end %>
  </div>
  <!--start-logo-->

  <!--bottom-header-->
  <%= render 'include/main/bottom_header' %>
  <!--bottom-header-->

  <div class="content">
    <%= yield %>
  </div>

  <!--footer-->
  <%= render 'include/main/footer' %>
  <!--footer-->
  </body>
</html>
